# Build e Compilação
/build/
/bin/
/out/
*.o
*.obj
*.exe

# Arquivos de IDEs e Editores
.vscode/
.idea/
*.vcxproj*
*.sln
*.user
.DS_Store

# Arquivos copiados pelo build
*.dll

# Excecao: Permitir que modelos 3D (.obj) sejam salvos no repositorio
!assets/**/*.obj
